<head>
    <link rel = "stylesheet" href = "/static/style.css">

    <script src = "/static/jscript.js"></script>

</head>

<h1 class = "title" id = intro>
    Random Number Generator
    </h1>
    
    <p class = "heading" id = heading>
    This prototype will generate a number between the two values inputted.
    </p>
    
    <p class = "heading">
    Minimal: <input id = "minNum"> &emsp;&emsp;&emsp;&emsp;&emsp;
    Maximum: <input id = "maxNum">
    
    <br>
    <br>
    
    <p class = "heading">
    <button onclick = "generateNum()" class = "buttonLay">
    Generate Number
    </button>
    </p>
    
    <p class = "heading" id = "generateNum">
    Testing
    </p>
    
    
    
    
    
    